@model StaticPagedList<psycoderEntity.ZixunshiUser>
@using PagedList;
@using PagedList.Mvc;
@using psycoderService;
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Tilte = "咨询师用户管理";
}
@section Topcss {
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/bootstrap-switch/css/bootstrap-switch.css" rel="stylesheet" type="text/css" />


}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Tilte
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"> @ViewBag.Tilte</h3>
                       
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>ID</th>
                                <th>邮箱账号</th>

                                <th>真实姓名</th>
                                <th>手机号码</th>
                                <th>介绍</th>
                                <th>状态</th>
                                <th>小程序设置</th>
                                
                                <th>到期时间</th>
                                <th>查看订单</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PsyUserEmail)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PsyRealName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PsyTelephone)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PsyInfo)</td>
                                    <td>
                                    <input type="checkbox" name="PsyStatus" value="@item.Id" @(item.PsyStatus ? "checked='checked'" : "") />
                                        @Html.AntiForgeryToken()
                                    </td>
                                    <td><a class="btn btn-info btn-sm" href="@Url.Action("ZixunshiApp", "AdminUser", new { pid=item.Id})">小程序设置</a> </td>
                                   
                                    <td>

                                        <span class="label label-@(DateTime.Compare(OrderService.GetOrderExpiryTimeByPid(item.Id), DateTime.Now) > 0 ? "success" : "danger")">@OrderService.GetOrderExpiryTimeByPid(item.Id).ToString("yyyy-MM-dd")</span>
                                   
                                    
                                    </td>
                                    <td>
                                        @if (DateTime.Compare(OrderService.GetOrderExpiryTimeByPid(item.Id), DateTime.Now) > 0)
                                        { 
                                            <a class="btn btn-info btn-sm" href="@Url.Action("PsyUserOrderList", "AdminOrder", new { pid=item.Id})">查看订单</a> 
                                        }
                                        else
                                        { 
                                            <a class="btn btn-info btn-sm" href="@Url.Action("CreatePsyOrder", "AdminOrder", new { pid=item.Id})">创建新订单</a> 
                                        }
                                    
                                    
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">

                        <ul class="pagination pagination-sm no-margin pull-right">
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("PsyUser","AdminUser", new {page = page }),
                            new PagedListRenderOptions
                            {
                                LinkToPreviousPageFormat = "上一页",
                                LinkToNextPageFormat = "下一页",
                                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                MaximumPageNumbersToDisplay = 5,
                                LinkToFirstPageFormat = "首页",
                                LinkToLastPageFormat = "最后一页",
                                PageCountAndCurrentLocationFormat = "第 {0}页 共 {1}页"
                            })
                        </ul>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>

@section BottomScripts {
    <script type="text/javascript" src="/plugins/bootbox.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //开关按钮样式加载
            $('[name="PsyStatus"]').bootstrapSwitch({
                onText: "启用",
                offText: "禁用",
                onColor: "success",
                offColor: "danger",
                size: "small",
                onSwitchChange: function (event, state) {
                    var token = $('[name=__RequestVerificationToken]').val();
                    $.ajax({
                        type: 'POST',
                        url: "/AdminUser/UpdatePsyUserStatus",
                        data: {
                            id: $(this).val(),
                            status: state,
                            __RequestVerificationToken: token,
                        },
                        dataType: "json",
                        success: function (data) {
                            alertconfirm(data.MessageInfo)
                        },
                        error: function () {

                        }
                    });
                }
            });
        });
    </script>
}
