@using psycoderEntity;
@{
    Layout = null;
    var notice = ViewData["IndexNotice"] as Notice;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Src/css/web.css" />
    <title>心理咨询师公众平台</title>
</head>
<body>
    <div class="container">
        <div class="logo pull-left">心理咨询师公众宣传平台</div>
        <div class="regbtn pull-right"><a href="@Url.Action("Register","PsyUser")"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 立即注册</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a href="###"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> 简体中文</a></div>
    </div>
    <div class="reg_jumbotron">
        <div class="loginform pull-right">
            <h3>登陆 <small class="text-danger">@ViewBag.msg</small></h3>
            <form action="/PsyAccount/login" method="post">
                <input type="hidden" class="form-control" name="ReturnUrl" id="ReturnUrl" value="@ViewBag.returnUrl">
                <div class="form-group">
                    <label for="exampleInputEmail1">用户名</label>
                    <input type="text" class="form-control" id="UserName" name="UserName" placeholder="邮箱/用户名">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">密码</label>
                    <input type="password" class="form-control" id="Password" name="Password" placeholder="密码">
                </div>
                <div class="form-group">
                    <p class="right"><a href=" ###">忘记账号或密码</a></p>
                </div>
                <button type="submit" class="btn btn-success">&nbsp;&nbsp;&nbsp;&nbsp;登陆&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </form>
        </div>
    </div>
    <div class="reg_content container">
        <div class="gonggao">
            <span>系统公告 &nbsp;&nbsp;&bull;&nbsp;&nbsp;<a href="@Url.Action("NoticeView", "Notice", new { id=notice.Id})" target="_blank">@notice.Title</a> </span> <span class="pull-right"><a href="@Url.Action("Index","Notice")" target="_blank" class="a2color">查看更多 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></span>
        </div>
        <div class="shouyi">
            <h3>你能得到什么</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="shouyicontent">
                        <span class="glyphicon glyphicon-bookmark text-blue" aria-hidden="true"></span>
                        <h4>定制个人宣传小程序</h4>
                        <p> 帮你建立宣传工具小程序</p>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="shouyicontent">
                        <span class="glyphicon glyphicon-globe text-orange" aria-hidden="true"></span>
                        <h4>群裂变式开发更多客户</h4>
                        <p>  帮你获取更多客户</p>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="shouyicontent">
                        <span class="glyphicon glyphicon-gift text-green" aria-hidden="true"></span>
                        <h4>获取更多心理学产品资源</h4>
                        <p>  给你提供更多心理学课程和服务</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="shouyicontent">
                        <span class="glyphicon glyphicon-tower text-purple" aria-hidden="true"></span>
                        <h4>建立个人品牌</h4>
                        <p> 帮你建立个人的品牌，提升知名度</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="reg_footer container">
        <a href="@Url.Action("NoticeView", "Notice", new { id=1})" target="_blank" class="a2color">
            关于我们
        </a> | <a href="@Url.Action("NoticeView", "Notice", new { id=2})" target="_blank" class="a2color">
            服务协议
        </a> | <a href="@Url.Action("NoticeView", "Notice", new { id=3})" target="_blank" class="a2color">
            联系客服
        </a>
        <hr style="margin:5px 0;padding:0;">
        Copyright © 2012-2018 版权所有. All Rights Reserved.
    </div>
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(".shouyicontent").on("mouseover", function () {
            $(this).addClass("shouyicontentover");

        });
        $(".shouyicontent").on("mouseout", function () {
            $(this).removeClass("shouyicontentover");

        });
    </script>
</body>
</html>
