@model psycoderEntity.DefaultHudongSetting
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title 设置
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">@ViewBag.Title 设置</h3>
                        @if (ViewBag.type == "Question")
                        {
                        <div class="pull-right">   
                            <a class="btn btn-success btn-sm" href="@Url.Action("Ziyoushuxie", "AdminHudong")"><i class="fa fa-list"></i> 回复列表</a>        
                        </div>
                        }
                    </div>
                    <!-- /.box-header -->
                    @using (Html.BeginForm("Edit", "AdminHudong", FormMethod.Post, new { @class = "form-horizontal", @name = "Edit", @id = "Edit" }))
                    {
                        @Html.AntiForgeryToken()
                         @Html.ValidationSummary(true)
                 @Html.HiddenFor(model=>model.Id)
                        <input type="hidden" name="type" value="@ViewBag.type"/>
                        <div class="box-body">
                            <div class="col-md-12">
                                @if (ViewBag.type == "Ziyoushuxie")
                                { 
                                    <div class="form-group">
                                    @Html.LabelFor(model => model.ZiyoushuxiePre, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(model => model.ZiyoushuxiePre, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ZiyoushuxiePost, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(model => model.ZiyoushuxiePost, new { @class = "form-control" })
                                    </div>
                                </div>
                                     @Html.HiddenFor(model=>model.QuestionPre)
                                      @Html.HiddenFor(model=>model.QuestionPost)
                                      @Html.HiddenFor(model=>model.QuestionSelected)
                                      @Html.HiddenFor(model=>model.ZixunPre)
                                      @Html.HiddenFor(model=>model.ZixunPost)
                                
                                }
                                else if (ViewBag.type == "QuestionList")
                                {
                                    <div class="form-group">
                                    @Html.LabelFor(model => model.QuestionPre, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(model => model.QuestionPre, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.QuestionPost, new { @class = "control-label col-md-2" })
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(model => model.QuestionPost, new { @class = "form-control" })
                                    </div>
                                </div>
                                      @Html.HiddenFor(model=>model.ZiyoushuxiePre)
                                      @Html.HiddenFor(model=>model.ZiyoushuxiePost)
                                      @Html.HiddenFor(model=>model.QuestionSelected)
                                      @Html.HiddenFor(model=>model.ZixunPre)
                                      @Html.HiddenFor(model=>model.ZixunPost)
                                }
                                else if (ViewBag.type == "ZixunList")
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ZixunPre, new { @class = "control-label col-md-2" })
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(model => model.ZixunPre, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ZixunPost, new { @class = "control-label col-md-2" })
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(model => model.ZixunPost, new { @class = "form-control" })
                                        </div>
                                    </div>
                                      @Html.HiddenFor(model=>model.QuestionPre)
                                      @Html.HiddenFor(model=>model.QuestionPost)
                                      @Html.HiddenFor(model=>model.QuestionSelected)
                                      @Html.HiddenFor(model=>model.ZiyoushuxiePre)
                                      @Html.HiddenFor(model=>model.ZiyoushuxiePost)
                                }
                                
                            
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <a class="btn btn-default" href="@Url.Action(ViewBag.type, "AdminHudong")">返回</a>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">保存并发布</button>
                            </div>
                            
                        </div>
                        }

                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>