@model StaticPagedList<psycoderEntity.FensiUser>
@using PagedList;
@using PagedList.Mvc;
@using psycoderService;
@{
    ViewBag.Title = "我的粉丝";
}
@section Topcss {
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
}
<div class="content">

    <h3 class="pageTitle">
        @ViewBag.Title
    </h3>


    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">@ViewBag.Title</h3>
                    
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead class="text-center">
                            <tr>
                                <th class="col-sm-1">
                                    序号
                                </th>
                                <th class="col-sm-3">
                                    昵称
                                </th>
                                <th class="col-sm-2">
                                    手机号
                                </th>
                                <th class="col-sm-2">注册时间</th>
                                <th class="col-sm-2">会员到期</th>
                                <th class="col-sm-2">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nickName)
                                    </td>
                                    <td>
                                       @Html.DisplayFor(modelItem => item.FensiTelephone)
                                    </td>
                                    <td>
                                        @item.CreateTime.ToString("yyyy-MM-dd hh:mm")
                                    </td>
                                                           
                                        @if (DateTime.Compare(OrderService.GetFensiOrderExpiryTimeByPid(item.Id), DateTime.Now) > 0)
{<td><span class="label label-success">@OrderService.GetFensiOrderExpiryTimeByPid(item.Id).ToString("yyyy-MM-dd") 到期</span>
                                    </td>
                                            <td><a class="btn btn-success btn-xs" href="@Url.Action("OrderListByCustomer", "Fensi", new { cid = item.Id })">查看订单</a></td>
   
}
                                        else
                                        {
                                            if (OrderService.GetFensiOrderExpiryTimeByPid(item.Id) == DateTime.Parse("1996-07-21 06:06:06"))
                                            {<td><span class="label label-info">尚未申请VIP会员</span>
                                    </td>
                                               
                                              <td><a class="btn btn-info btn-xs" href="###">暂无订单</a></td>
                                            }
                                            else
                                            {<td><span class="label label-danger">VIP会员已过期</span>
                                    </td>
                                               
                                              <td><a class="btn btn-danger btn-xs" href="@Url.Action("OrderListByCustomer", "Fensi", new { cid = item.Id })">查看订单</a></td>
                                            }
                                        }
                                  
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        @Html.PagedListPager((IPagedList)Model, page => Url.Action("FensiIndex", "Fensi", new { type = Request.QueryString["type"], page = page }),
                            new PagedListRenderOptions
                            {
                                LinkToPreviousPageFormat = "上一页",
                                LinkToNextPageFormat = "下一页",
                                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                                MaximumPageNumbersToDisplay = 5,
                                LinkToFirstPageFormat = "首页",
                                LinkToLastPageFormat = "最后一页",
                                PageCountAndCurrentLocationFormat = "第 {0}页 共 {1}页"
                            })
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>
@section BottomScripts {
<script type="text/javascript" src="/plugins/bootbox.min.js"></script>
<script type="text/javascript" src="/Resource/js/SkyWeb.js"></script>
    }