@using psycoderEntity;
@using psycoderService;
@{
  var notice=  ViewData["IndexNotice"] as Notice;
}

<div class="content">
    <div class="content_main">
        <span class="glyphicon glyphicon-bell" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("NoticeView", "Notice", new { id=notice.Id})" target="_blank">@notice.Title</a>
        <span class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("Index", "Notice")" target="_blank" class="a2color">更多</a></span>
        <span class="pull-right a2color">@notice.CreateTime.ToString("yyyy-MM-dd")</span>
    </div>
    <div class="content_main zhqingkuang">
        <h4>账号收益</h4>
        <ul>
            <li>
                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span> 咨询次数
                <p><a href="###">@CountService.GetZixunReplyCountByPid(int.Parse(Session["pid"].ToString()))</a></p>
            </li>
            <li>
                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span> 用户互动次数
                <p><a href="###">@(CountService.GetZiyoushuxieReplyCountByPid(int.Parse(Session["pid"].ToString()))+CountService.GetQuestionReplyCountByPid(int.Parse(Session["pid"].ToString())))</a></p>
            </li>
            <li>
                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span> 用户总数
                <p><a href="###">@CountService.GetFensiUserCountByPid(int.Parse(Session["pid"].ToString()))</a></p>
            </li>
        </ul>

    </div>
    <div class="content_main zhqingkuang">
        <h4>账号整体配置
        @*<span class="pull-right"><button class="btn btn-success">手动更新账号配置</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-danger">一键自动更新</button></span>*@
        </h4>
        <ul>
            <li>
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 文章数量
                <p><a href="####">@CountService.GetXCXSucaiSelectedCountByPid(int.Parse(Session["pid"].ToString()),"tuwen")</a></p>
            </li>
            <li>
                <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> 音频数量
                <p><a href="####">@CountService.GetXCXSucaiSelectedCountByPid(int.Parse(Session["pid"].ToString()), "yinpin")</a></p>
            </li>
            <li>
                <span class="glyphicon glyphicon-film" aria-hidden="true"></span> 视频数量
                <p><a href="####">@CountService.GetXCXSucaiSelectedCountByPid(int.Parse(Session["pid"].ToString()), "shipin")</a></p>
            </li>

        </ul>
    </div>

    
</div>