
<div class="menulist">
    <h4 style="color:green"><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 首页</a></h4>
    <hr>
    <h4><span class="glyphicon glyphicon-th" aria-hidden="true"></span> 小程序素材</h4>
    <ul>
        <li><a href="@Url.Action("XCXSucaiSelected", "XCXSucai", new { type = "tuwen" })">图文素材</a></li>
        <li><a href="@Url.Action("XCXSucaiSelected", "XCXSucai", new { type = "yinpin" })">音频课程</a></li>
        <li><a href="@Url.Action("XCXSucaiSelected", "XCXSucai", new { type = "shipin" })">视频课程</a></li>
    </ul>
    <hr>
    <h4><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 互动管理</h4>
    <ul>

        <li><a href="@Url.Action("ZiyoushuxieReplyList", "HudongSet")">自由书写</a></li>
        <li><a href="@Url.Action("QuestionReplyList", "HudongSet")">问题引导</a></li>
        <li><a href="@Url.Action("ZixunReplyList", "HudongSet")">用户咨询</a></li>
        <li><a href="@Url.Action("GuanggaoSet", "HudongSet")">广告设置</a></li>
        <!--
        <li><a href="@Url.Action("HudongList", "Home")">活动设置</a>
        </li><li><a href="">摇一摇</a></li>
        <li><a href="">量表定制</a></li>
        -->

    </ul>
    <hr>

    <h4><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 用户管理</h4>
    <ul>

        <li><a href="@Url.Action("ZiyouList", "Home")">粉丝用户</a></li>
        <li><a href="@Url.Action("WentiList", "Home")">用户订单</a></li>
        <!--
        <li><a href="@Url.Action("HudongList", "Home")">活动设置</a>
        </li><li><a href="">摇一摇</a></li>
        <li><a href="">量表定制</a></li>
        -->

    </ul>
    <hr>

    <h4><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> 共享讲课素材</h4>
    <ul>
        <li><a href="@Url.Action("Index", "JkSucai", new { type = "anli" })"> 案例素材</a></li>
        <li><a href="@Url.Action("Index", "JkSucai", new { type = "tupian" })"> 图片素材</a></li>
        <li><a href="@Url.Action("Index", "JkSucai", new { type = "yinpin" })"> 音频素材</a></li>
        <li><a href="@Url.Action("Index", "JkSucai", new { type = "shipin" })"> 视频素材</a></li>
        <!--
            <li><a href=""> PPT素材</a></li>
             <li><a href=""> 活动素材</a></li>
        -->

    </ul>
    <!--
        <hr>
    <h4><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> 学习大厅 </h4>
    <ul>
        <li>心理咨询技术</li>
        <li>讲课技术</li>
        <li>接待技术</li>
        <li>网络营销技术</li>
        <li>PPT课件制作技术</li>
    </ul>

    <hr>
    <h4><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> 收益 </h4>
    <ul>
        <li>广告收益</li>
        <li>客户收益</li>
        <li>财富收益</li>
    </ul>
    <hr>
    <h4><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> 数据统计</h4>
    <ul>
        <li>客户统计</li>
        <li>咨询统计</li>
        <li>推广统计</li>
    </ul>
    <hr>

        -->
    <h4><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 个人设置</h4>
    <ul>
        <li><a href="@Url.Action("Setting", "Home")">小程序设置</a></li>
        <li><a href="@Url.Action("SafeCenter", "Home")">安全设置</a></li>
        <li><a href="@Url.Action("ZhuceInfo", "Home")">注册信息</a></li>
        <!--
            <li><a href="@Url.Action("Weigui", "Home")">违规记录</a></li>
        -->
        
    </ul>
</div>