@model psycoderEntity.ZiyoushuxieReply
@{
    ViewBag.Title = "自由书写演示";
}

@section Topcss {
<link href="~/plugins/bootstrap-validator/css/bootstrapValidator.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/copper/css/cropper.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/copper/css/avatar.css" rel="stylesheet" type="text/css" />


}

<div class="content">

        <h3 class="pageTitle">
            @ViewBag.Title
        </h3>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">@ViewBag.Title</h3>
            <div class="pull-right">
                <a class="btn btn-info btn-sm" href="@Url.Action("GuanggaoList", "HudongSet")"><i class="fa fa-list"></i> 广告列表</a>
            </div>
        </div>
        <!-- /.box-header -->
        @using (Html.BeginForm("CreateZiyoushuxieReply", "HudongSet", FormMethod.Post, new { @class = "form-horizontal", @name = "GuanggaoSet", @id = "GuanggaoSet" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.PsyUser, new { Value = "1" })
            @Html.HiddenFor(model => model.UserId, new { Value = "0" })
            @Html.HiddenFor(model => model.CreateTime, new { Value =DateTime.Now })
            <input type="hidden" name="type" value="@ViewBag.type" />
            <div class="box-body">
                <div class="col-md-12">



                    <div class="form-group">
                        @Html.LabelFor(model => model.ReplyContent, new { @class = "control-label col-md-2" })
                        <div class="col-sm-9">
                            @Html.TextBoxFor(model => model.ReplyContent, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ReplyContent)
                        </div>
                    </div>

                  



                </div>
            </div>
                        <!-- /.box-body -->
            <div class="box-footer clearfix" id="guanggaobtn">
                <a class="btn btn-default" href="@Url.Action("GuanggaoList", "HudongSet")">返回</a>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">保存并发布</button>
                </div>

            </div>
        }

    </div>



</div>



@section BottomScripts {
<script type="text/javascript" src="~/plugins/bootbox.min.js"></script>

<script type="text/javascript" src="~/plugins/bootstrap-validator/js/bootstrapValidator.js"></script>

    
   
    }